<!DOCTYPE html>
<html lang="ja">

<head>
  <meta name="robots" content="noindex,nofollow">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">

  <!-- OGPなど -->
  <title>ExciteCodeX | タイトル</title>
  <meta name="description" content="ディスクリプション">
  <meta property="og:title" content="ExciteCode | ">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://hogehoge.com/">
  <meta property="og:image" content="http://hogehoge.com/images/ogp-img.jpg">
  <meta property="og:site_name" content="ExciteCodeX">
  <meta property="og:description" content="ディスクリプション">
  <meta name="twitter:card" content="summary">

  <!-- ファビコン -->
  <link rel="icon" href="./images/favicon.ico">
  <link rel="apple-touch-icon" href="./images/apple-touch-icon.png" sizes="180x180">

<!-- ファーストビューの背景画像は先行して読み込む(2.3) -->
  <link rel="preload" as="image" href="./images/xxx.jpg">
  <link rel="preload" as="image" href="./images/xxx-sp.jpg">

  <!-- css -->
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>

  <main>

  </main>

</body>

</html>