html {
  font-size: 16px;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

input,
button,
select,
textarea {
  font: inherit;
  border: none;
  border-radius: 0;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 31px 0 0 80px;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 19px 0 0 10px;
  }
}

.header__logo {
  width: 149px;
  aspect-ratio: 149/26;
}
@media screen and (max-width: 768px) {
  .header__logo {
    width: 103px;
  }
}

.fv {
  background-image: url(../images/FV-img.jpg);
  background-size: contain;
  aspect-ratio: 1440/460;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .fv {
    background-image: url(../images/FV-img-sp.jpg);
    aspect-ratio: 375/360;
  }
}

.fv__title {
  font-size: 46px;
  font-weight: 500;
  color: #25262B;
}
@media screen and (max-width: 768px) {
  .fv__title {
    font-size: 28px;
  }
}

.contact {
  padding: 80px 0 180px;
}

.contact__inner {
  max-width: 592px;
  padding: 0 36px;
  margin-inline: auto;
}

.contact__text {
  font-size: 18px;
  line-height: 1.889;
  color: #25262B;
}
@media screen and (max-width: 768px) {
  .contact__text {
    font-size: 14px;
  }
}

.contact__form {
  margin-top: 68px;
}
@media screen and (max-width: 768px) {
  .contact__form {
    margin-top: 47px;
  }
}

.contact__item:not(:first-child) {
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .contact__item:not(:first-child) {
    margin-top: 29px;
  }
}

.contact__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__label-text {
  font-size: 16px;
  color: #25262B;
}
@media screen and (max-width: 768px) {
  .contact__label-text {
    font-size: 14px;
  }
}

.contact__required {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  border-radius: 6px;
  background-color: #E05760;
  padding: 2px 10px;
  margin-left: 8px;
}
@media screen and (max-width: 768px) {
  .contact__required {
    font-size: 10px;
  }
}

.contact__input,
.contact__select {
  font-size: 14px;
  color: #25262B;
  border-radius: 4px;
  border: 1px solid #AAB5BA;
  margin-top: 12px;
  padding: 11px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .contact__input,
  .contact__select {
    font-size: 13px;
    padding: 8px;
  }
}

.contact__select-wrap {
  position: relative;
}

.contact__select-wrap::after {
  position: absolute;
  content: url(../images/icon-arrow.svg);
  top: 19px;
  right: 11px;
}
@media screen and (max-width: 768px) {
  .contact__select-wrap::after {
    top: 15px;
    right: 8px;
  }
}

.contact__textarea {
  font-size: 14px;
  color: #25262B;
  border-radius: 4px;
  border: 1px solid #AAB5BA;
  margin-top: 12px;
  padding: 11px;
  width: 100%;
  height: 200px;
  resize: none;
}
@media screen and (max-width: 768px) {
  .contact__textarea {
    font-size: 13px;
    padding: 8px;
    height: 146px;
  }
}

.contact__input::-webkit-input-placeholder, .contact__textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: #D5D5D5;
}

.contact__input::-moz-placeholder, .contact__textarea::-moz-placeholder {
  font-size: 14px;
  color: #D5D5D5;
}

.contact__input:-ms-input-placeholder, .contact__textarea:-ms-input-placeholder {
  font-size: 14px;
  color: #D5D5D5;
}

.contact__input::-ms-input-placeholder, .contact__textarea::-ms-input-placeholder {
  font-size: 14px;
  color: #D5D5D5;
}

.contact__input::placeholder,
.contact__textarea::placeholder {
  font-size: 14px;
  color: #D5D5D5;
}
@media screen and (max-width: 768px) {
  .contact__input::-webkit-input-placeholder, .contact__textarea::-webkit-input-placeholder {
    font-size: 13px;
  }
  .contact__input::-moz-placeholder, .contact__textarea::-moz-placeholder {
    font-size: 13px;
  }
  .contact__input:-ms-input-placeholder, .contact__textarea:-ms-input-placeholder {
    font-size: 13px;
  }
  .contact__input::-ms-input-placeholder, .contact__textarea::-ms-input-placeholder {
    font-size: 13px;
  }
  .contact__input::placeholder,
  .contact__textarea::placeholder {
    font-size: 13px;
  }
}

.contact__select:invalid {
  color: #D5D5D5;
}
@media screen and (max-width: 768px) {
  .contact__select:invalid {
    font-size: 13px;
  }
}

.contact__button {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border-radius: 6px;
  background-color: #078EA3;
  padding: 15.5px 12px;
  margin-top: 40px;
  width: 100%;
  height: 54px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media screen and (max-width: 768px) {
  .contact__button {
    font-size: 14px;
    margin-top: 24px;
    padding: 13px 12px;
  }
}
.contact__button:hover {
  background-color: #4DB2C1;
}

.footer {
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .footer {
    padding-bottom: 20px;
  }
}

.footer__copyright {
  font-size: 14px;
  color: #25262B;
  display: block;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */