@use "./base/base";
@use "./base/reset";
@use "./global" as *;

.header {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding: 31px 0 0 80px;
    @include mq("md"){
        padding: 19px 0 0 10px;
    }
}

.header__logo {
    width: 149px;
    aspect-ratio: 149 / 26;
    @include mq("md"){
        width: 103px;
    }
}
.fv {
    background-image: url(../images/FV-img.jpg);
    background-size: contain;
    aspect-ratio: 1440 / 460;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq("md"){
        background-image: url(../images/FV-img-sp.jpg);
        aspect-ratio: 375 / 360;
    }
}

.fv__title {
    font-size: 46px;
    font-weight: $medium;
    color: $black;    
    @include mq("md"){
        font-size: 28px;
    }
}
.contact {
    padding: 80px 0 180px;
}

.contact__inner {
    max-width: 592px;
    padding: 0 36px;
    margin-inline: auto;
}

.contact__text {
    font-size: 18px;
    line-height: 1.889;
    color: $black;    
    @include mq("md"){
        font-size: 14px;
    }
}

.contact__form {
    margin-top: 68px;
    @include mq("md"){
        margin-top: 47px;
    }
}

.contact__item:not(:first-child) {
    margin-top: 30px;
    @include mq("md"){
        margin-top: 29px;
    }
}

.contact__label {
    display: flex;
    align-items: center;
}

.contact__label-text {
    font-size: 16px;
    color: $black;
    @include mq("md"){
        font-size: 14px;
    }
}

.contact__required {
    font-size: 12px;
    font-weight: $medium;
    color: $white;
    border-radius: 6px;
    background-color: $red;
    padding: 2px 10px;
    margin-left: 8px;
    @include mq("md"){
        font-size: 10px;
    }
}

.contact__input,
.contact__select {
    font-size: 14px;
    color: $black;
    border-radius: 4px;
    border:1px solid $gray;
    margin-top: 12px;
    padding: 11px;
    width: 100%;
    @include mq("md"){
        font-size: 13px;
        padding: 8px;
    }
}

.contact__select-wrap{
    position: relative;
}

.contact__select-wrap::after{
    position: absolute;
    content:url(../images/icon-arrow.svg);
    top: 19px;
    right: 11px;
    @include mq("md"){
        top: 15px;
        right: 8px;
    }
}

.contact__textarea {
    font-size: 14px;
    color: $black;
    border-radius: 4px;
    border:1px solid $gray;
    margin-top: 12px;
    padding: 11px;
    width: 100%;
    height: 200px;
    resize: none;
    @include mq("md"){
        font-size: 13px;
        padding: 8px;
        height: 146px;
    }
}
.contact__input::placeholder,
.contact__textarea::placeholder{
    font-size: 14px;
    color: $light-gray;
    @include mq("md"){
        font-size: 13px;
    }
}

.contact__select:invalid{
    color: $light-gray;
    @include mq("md"){
        font-size: 13px;
    }
}

.contact__button {
    font-size: 16px;
    font-weight: bold;
    color: $white;
    border-radius: 6px;
    background-color: $turquoise-blue;
    padding: 15.5px 12px;
    margin-top: 40px;
    width: 100%;
    height: 54px;
    transition:background-color 0.3s;
    @include mq("md"){
        font-size: 14px;
        margin-top: 24px;
        padding: 13px 12px;
    }
    &:hover{
        background-color: $sky-blue;
    }
}

// Footer
.footer {
    padding-bottom: 30px;
    @include mq("md"){
        padding-bottom: 20px;
    }
}

.footer__copyright {
    font-size: 14px;
    color: $black;
    display: block;
    text-align: center;
    @include mq("md"){
        font-size: 12px;
    }
}

