@use "sass:math";
//ブレイクポイントの値
$breakpoints: (
  sp: 375,  //smartphone
  md: 768,  //medium
  lg: 1024, //large
  xl: 1440, //extra large
);

//メディアクエリー
$mediaqueries: (
  sp: "screen and (max-width: #{map-get($breakpoints,'sp')}px)",
  md: "screen and (max-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (max-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (max-width: #{map-get($breakpoints,'xl')}px)",
);

// ブレイクポイントの設定
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaqueries, $mediaquery)} {
    @content;
  }
}
