@use "./base/base";
@use "./base/reset";
@use "./global" as *;


//FV
.fv__img {
    aspect-ratio: 1440 / 614;
    @include mq("md"){
        aspect-ratio: 375 / 500;
    }
}

//メインコンテナ(4.3)
.main-container {
    padding: 120px 0 140px ;
    background-color: $black;
    @include mq("lg"){
        padding: 80px 0;
    }
}

.main-container__inner {
    display: flex;
    max-width: 980px;
    margin-inline: auto;
    padding-left: 30px;
    padding-right: 30px;
    @include mq("lg"){
        flex-direction: column;
    }
}

.main-container__contents {
    min-width: 700px;
    max-width: 700px;
    margin-left: 140px;
    @include mq("lg"){
        min-width:initial;
        margin-top: 80px;
        margin-left: 0;
        max-width: 100%;
    }
}
//サイドバー(4.3)
.menu__logo img {
  max-width: 80px; // 仮：ロゴ巨大化防止（後で講義内容に合わせて調整）
}

.menu__logo {
    width: 80px;
    aspect-ratio: 1 / 1;
    @include mq("lg"){
        margin-inline: auto;
    }
}

.menu__nav {
    margin-top: 40px;
}

.menu__item:not(:first-child) {
    margin-top: 24px;
    @include mq("md"){
        margin-top: 16px;
    }
}

.menu__link {
    font-size: 16px;
    color: $gray;
    display: block;
    text-align: center;
    @include mq("md"){  
        font-size: 14px;
    }
}
// お知らせ(4-5)
.news__list {
    margin-top: 24px;
    @include mq("md"){
        margin-top: 12px;
    }

}

.news__item {
    display: flex;
    padding-bottom: 12px;
    border-bottom: 1px solid $dark-gray;
    @include mq("md"){
        flex-direction: column;
        padding-bottom: 8px;
    }
}
.news__item:not(:first-child) {
    margin-top: 16px;
}

.news__date {
    font-size: 14px;
    color: $gray;
    padding-top: 2px;
    @include mq("md"){
        padding-top: 0;
        font-size: 12px;
    }

}

.news__text {
    font-size: 16px;
    margin-left: 18px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3;
    @include mq("md"){
        margin-top: 4px;
        margin-left: 0;
    }
}

//定番セット
.standard {
    margin-top: 100px;
    @include mq("md"){
        margin-top: 60px;
    }
}

.standard__list {
    margin-top: 24px;
    @include mq("md"){
        margin-top: 14px;
    }
}
.standard__item {
    position:relative;
    padding-left: 14px;
    @include mq("md"){
        padding-left: 10px;
    }
}
.standard__item::before {
    //
    position:absolute;
    top: 11px;
    left:0;
    //spanタグ
    content:"";
    width: 6px;
    height: 6px;
    border-radius: 9999px;
    background-color: $gray;
    @include mq("md"){
        top: 10px;
        width: 4px;
        height: 4px;
    }
}

.standard__item:not(:first-child) {
    margin-top: 10px;
    @include mq("md"){
        margin-top: 12px;
    }
}
//おすすめ
.recommend {
    margin-top: 96px;
    @include mq("md"){
        margin-top: 60px;
    }
}

.recommend__list {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include mq("md"){
        margin-top: 14px;
        grid-template-columns: repeat(1,1fr);
    }
}

.recommend__item {
    position:relative
}

.recommend__img {
    aspect-ratio: 35 / 24;
}

.recommend__text {
    position:absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
}

//Footer
.footer {
    padding-bottom: 30px;
    background-color: $black;
    @include mq("md"){
        padding-bottom: 16px;
    }
}

.footer__copyright {
    font-size: 14px;
    font-family: $second-font;
    color: $gray;
    display: block;
    text-align: center;
    @include mq("md"){
        font-size: 12px;
    }
}


.title {
    font-size: 28px;
    color: $gray;
    @include mq("md"){
        font-size: 20px;
        text-align: center;
    }
}

.text {
    font-size: 16px;
    color: $gray;
    line-height: 1.6875;
    @include mq("md"){
        font-size: 14px;
        line-height: 1.714;
    }
}

