@use "./base/base";
@use "./base/reset";
@use "./global" as *;


//Header
.header {
  padding: 40px 0 0 60px;
  background-color: $gray;
    @include mq("md"){
      padding: 16px 0 0 20px;
    }
}

.header__title {
  font-size: 44px;
  font-weight: bold;
  font-family: $second-font ;
    @include mq("md"){
      font-size: 20px;
    }
}

//Service
.service {
  padding-top: 80px;
  background-color: $gray;
  @include mq("md"){
    padding-top: 65px;
  }
}

.service__list {
  display: grid;
  grid-template-columns: repeat(2,1fr) ;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 40px;
  @include mq("md"){
    row-gap: 10px;
    grid-template-columns: repeat(1,1fr) ;
    margin-top: 32px;
  }
}

.service__item {
  position: relative;
}

.service__img {
  aspect-ratio: 53 / 38;
}

.service__text {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size: 24px;
  font-family: $second-font;
  background-color: rgba($color:$white, $alpha:0.46);
  width: 220px;
  padding: 16px 12px;
  text-align: center;
  @include mq("md"){
    font-size: 20px;
  }
  @include mq("sp"){
    font-size: 16px;
    width: 136px;
    padding: 8.5px;
  }
}
.voice {
  padding: 120px 0 150px;
  background-color: $gray;
}

.voice__list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(348px,1fr));
  column-gap: 18px;
  row-gap: 40px;
  @include mq("md"){
    margin-top: 30px;
  }
  @include mq("sp"){
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  }
}

.voice__item {
  position: relative;
  background-color: $white;
  padding: 66px 40px 40px;
  @include mq("md"){
    padding: 50px 24px 24px;
  }
}

.voice__img {
  position:absolute;
  top: -20px;
  left: 40px;
  width: 50px;
  height: auto;
  border-radius: 9999px;
  @include mq("md"){
    width: 50px;
    top: -16px;
    left: 24px;
  }
}

.voice__text {
  font-size: 14px;
  color: $black;
  line-height: 1.86;
  font-family: $base-font;
}

//footer
.footer {
  padding: 30px 0;
  @include mq("md"){
    padding: 20px 0;
    font-size: 12px;
  }
}

.footer__copyright {
  font-size: 14px;
  color: $black;
  font-family: $second-font;
  display: block;
  text-align: center;
}



.inner {
  max-width: 1140px;
  padding-left: 30px;
  padding-right: 30px;
  margin-inline: auto;
}

.title {
  font-size: 60px;
  font-family: $second-font;
  text-align: center;
  @include mq("md"){
    font-size: 44px;
  }
  @include mq("sp"){
    font-size: 28px;
  }
}
